@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vh;
    background-color: black;
    /*Altura e Largura total do navegador
    background-color: black;*/
}

body {
    background: url('../imagens/fundo-madeira10.jpg');
    background-size: cover;
    background-attachment: fixed;
    /*background: url('../imagens/fundo-madeira.jpg');*/
}

main {
    position: relative;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

    background: url('../imagens/frame-iphone10.png') no-repeat;
    height: 627px;
    width: 674px;   
}

iframe#tela {
    position: relative;
    top: 79px;
    left: 381px;
    width: 267px;
    height: 472px;
}